<html>
<body>

<table border="0" width="100%">
	<tr>
	<td valign="middle"> 
	<h3><span style="font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;color:#E42E21";>Dear ${tenant.firstName} ${tenant.lastName},</span></h3>
	</td>
	<td valign="middle"><img src="http://cleargist.elasticbeanstalk.com/images/logo_front.png" border="0" /></td>
</tr>
</table>
<br /><br />
                            
<table border='0' width='100%'>
<tr>
<td><span style='color:#444;font-weight:bold;font-size:18px;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif'>Welcome to ClearGist!</span> 
</td>
</tr>
<tr>
<td><hr style='height: 0px;color: #999;border-style:dashed;border-width:0px 0px 1px 0px;'/> 
</td>
</tr>
</table>
<table border='0' width='100%'>
<tr>
<td><span style='color:#444;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif'>
We would like to inform you that your company <b>${tenant.company}</b> (${tenant.url}) has been successfully signed up to ClearGist&trade; services. To activate your account, use the activation link below. Once your account is activated, you can use your username and password (provided upon sign up) to login to <a style='color: #444;text-decoration:none;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif' href='http://cleargist.elasticbeanstalk.com/admin/login.do?user=${tenant.username}'>ClearGist's extranet</a>.<br /><br />We hope to enjoy our services!<br /><br />
</span></td>
</tr>
<tr>
<td><hr style='height: 0px;color: #e9e9e9;border-style:dashed;border-width:0px 0px 1px 0px;'/> 
</td>
</tr>
</table>
<table border='0' width='100%'>
<tr>
<td><span style='color:#444;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif'>
Activation Link: <a style='color: #E42E21;text-decoration:none;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif' href='http://cleargist.elasticbeanstalk.com/activate.do?user=${tenant.id}'>http://cleargist.elasticbeanstalk.com/activate.do?user=${tenant.id}</a>
</span></td>
</tr>
<tr>
<td><hr style='height: 0px;color: #e9e9e9;border-style:dashed;border-width:0px 0px 1px 0px;'/> 
</td>
</tr>
</table>
<br />        
<span style='color:#444;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;'>Thank you for using</span>,<br />
<span style='color:#444;font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;'>ClearGist&trade; Personalization Services</span>
 </body>
 </html>