@charset "utf-8";

@font-face {
 font-family: "Interstate";
 /*src: url("http://infolytics.gr/css/interstate") format("woff");*/
 src: url(InterstateLight.ttf);
 font-style: normal;
 font-weight: normal;
}



body,p,h1,h2,h3,h4,h5,h6,table,tr,td,ul,li,ol,navigation,header,footer{
    margin:0px; padding:0px;
    font-family: "Interstate",Helvetica,Arial,sans-serif; 
    font-weight: normal;                        
}
p {
    text-align:justify;
}

body {
    line-height: 1.28;
    font-size: 12px;
    background-color: #333;
    background-image: url("../images/gray_back.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}

html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2.3em;
}
.footer-container, .push {

}

a{
    text-decoration: none;
    color:#999;
}

a:hover{
    color:#E42E21;
}

.container {
    width:946px;
    margin:0 auto;
/*    background-color: #333;*/
    /**position:relative;**/
}
.header-wrapper{
    width:100%;
    margin:0 auto;
    background-color: #222;
    height:143px;
    /**position:relative;**/
}
.main-wrapper{
    width:100%;
    margin:0 auto;
}
.sub-main-wrapper{
    width:100%;
    margin-bottom:28px;
}
#header{
    width:100%;
    height:110px;
    position:relative;
    padding-top:30px;
    /*background-color: #333;*/
}   

#divLogo{
    /*margin-top:17px;*/
    margin-top:17px;
}
#divInfo {
    position: absolute;
    left: 1px;
    top: 8px;
    width: 480px;
}
#divInfo div.content {
    color: #999;
}
#divLang{
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}
ul.languages {
    list-style: none outside none;
    position: absolute;
    right: 2px;
    top: 10px;
    
}

ul.login {
    list-style: none outside none;
    position: absolute;
    right: 0px;
    top: 24px;
    
}

ul li {
    display: inline;
}

#divRightMenu{
    right: 0;
    margin-top: 35px;
    width: 300px;
}
ul.rightMenu {
    list-style: none outside none;
    position: relative;
    right: 0;
}

ul.rightMenu li{
    color:#999;
    font-size: 10pt;
    float: left;
    padding: 6px 0 10px 14px;
    text-align: right;
    float:right;
}

#divMenu{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -3px;
}

ul.menu {
    list-style: none outside none;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

ul.menu li.selected {
    background-image: url("../images/gray_back_clear.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
    
    color:#E42E21;
    font-size: 11pt;
    background-color: #333;
    width: 123px;
    height: 22px;
    float: left;
    padding: 12px 6px 0 4px;
    text-align: center;
}

ul.menu li.selected a {
	color:#E42E21;
}

ul.menu a:hover {
	color:#E42E21;
}

ul.menu li {
    /* background-image: url("../images/gray_back.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
     */

    font-size: 11pt;
    background-color: #222;
    width: 123px;
    height: 22px;
    float: left;
    padding: 12px 6px 0 4px;
    text-align: center;
}

.red {
    color:#E42E21;
}
.small {
    color:#666666;
    font-size: 8pt;
}

.small a{
    bottom: 8px;
}

#menu_seperator_top{
    /**position: relative;**/  
    width: 946px;
    height: 1px;
    background-image:url(../images/line.png);
    background-repeat:no-repeat;
    margin:0 auto;
    display:block;
}

ul.nav {
    list-style: none outside none;
    position: relative;
    top: 15px;
}

ul.nav li{
    padding: 0 6px 0 12px;
    float: left;
}

ul.nav a .subtitle {
    color: #666666;
    display: block;
    font-size: 13px;
    margin-left: 2px;
    margin-top: 0;
}

ul.nav a {
    color: #000000;
    font: 100 28px/1 "Interstate",Helvetica,Arial,sans-serif;
    margin-right: 54px;
    position: relative;
    white-space: nowrap;
    z-index: 3;
    margin-left: 3px;
}

ul.nav a {
    display: block;
}

ul.nav a:hover{
    color:#E42E21;
}

ul.nav ul {
    background: url("../images/nav-left-border.png") no-repeat;
    padding: 55px 20px 29px 8px;
    position: absolute;
    top: 0;
    margin-left: -8px;
}

ul.nav ul, ul.nav ul li {
    display: block;
    list-style-type: none;
    margin: 0;
}

ul.nav ul li {
    padding-left: 0px;
    color: #999999;
}

ul.nav ul li a {
    color: #666666;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 15px;
}

.main {
    width: 946px;
    padding: 0 0 15px; 
     
}

.footer {
    background-color: #000;
}

.footer .innerContainer {
    width: 946px;
    margin: 0 auto;
    max-width: 100%;
    padding:9px;
    background-color: #000;
}

div.footerLeftMenu {
    color: #999;
    margin-right: 20px;
    float: left;
    font-size: 11px;
    width: 460px;
    text-align: left;
}

div.footerLeftMenu ul{
    
}

div.footerLeftMenu ul li a{
    color: #fff;
}

div.footerLeftMenu ul li a:hover{
    color: #E42E21;
}

div.footerRightMenu {
    color: #666666;
    float: right;
    font-size: 11px;
    text-align: right;
    width:220px;
}

#signin {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/sign_up.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 175px;
    height: 53px; 
}

#signin:hover{
    background-image:url(../images/sign_up_hover.png);
}

.large-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/sign_up.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 175px;
    height: 53px; 
}

.large-button:hover{
    background-image:url(../images/sign_up_hover.png);
}

.large-button-span{
    display:inline-block;
    color:#fff;
    font-size:28px;
    padding-top:6px;
    padding-left:1px;
}

.small-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/button_small.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 36px; 
}

.small-button-w {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/button_white_s.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 36px; 
}

.small-button-w:hover{
    background-image:url(../images/button_white_s_hover.png);
}
.small-button-span-w{
    display:inline-block;
    color:#E42E21;
    font-size:18px;
    padding-top:6px;
    padding-left:1px;
}

.small-button-b {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/button_blue_s.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 36px; 
}

.small-button-b:hover{
    background-image:url(../images/button_blue_s_hover.png);
}
.small-button-span-b{
    display:inline-block;
    color:#fff;
    font-size:18px;
    padding-top:6px;
    padding-left:1px;
}



.small-button:hover{
    background-image:url(../images/button_small_hover.png);
}

.small-button-span{
    display:inline-block;
    color:#fff;
    font-size:18px;
    padding-top:6px;
    padding-left:1px;
}


.x-small-button {
    margin-top: 8px;
    margin-bottom: 8px;
    background-image: url("../images/button_x_small.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 32px; 
}

.x-small-button-2 {
    margin-top: 8px;
    margin-bottom: 2px;
    background-image: url("../images/button_small2.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 32px; 
}

.x-small-button-2:hover{
    background-image:url(../images/button_small2_hover.png);
}


.x-small-button:hover{
    background-image:url(../images/button_x_small_hover.png);
}

.x-small-button-span{
    display:inline-block;
    color:#fff;
    font-size:16px;
    padding-top:6px;
    padding-left:1px;
}

.xx-small-button {
    margin-top: 8px;
    margin-bottom: 2px;
    background-image: url("../images/button_xx_small.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 28px; 
}

.xx-small-button:hover{
    background-image:url(../images/button_xx_small_hover.png);
}

.xx-small-button-span{
    display:inline-block;
    color:#fff;
    font-size:14px;
    padding-top:6px;
    padding-left:1px;
}

#signinSpan{
    display:inline-block;
    color:#fff;
    font-size:28px;
    padding-top:6px;
    padding-left:1px;
}


#menu_seperator_top{
    /**position: relative;**/  
    width: 946px;
    height: 1px;
    background-image:url(../images/line_admin.png);
    background-repeat:no-repeat;
    margin:0 auto;
    display:block;
    margin-top: 5px;
}

#loginHeader {
    font-size: 24pt;
    color:#999;
    margin-top: 17px;
    
}

#mainHeader {
	width:100%;
	margin-top: 17px;
    
}
#subMainHeader {
	width:100%;
	margin-top: 28px;
    
}
#mainBox {
	 margin-top: 17px;
}

#previewArea {
	 width: 946px;
	 height: auto;
	 background-color: #ffffff;
	 padding-bottom: 10px;
}


.inputLarge {
    border: medium none;
    font-size: 12pt;
    height: 45px;
    padding-left: 10px;
    margin-top: 22px;
    width: 340px;
    color: #333333;
}

.inputMedium {
    border: medium none;
    font-size: 11pt;
    height: 30px;
    padding-left: 5px;
    width: 240px;
    color: #333333;
}

.inputSmall {
    border: medium none;
    font-size: 10pt;
    height: 22px;
    padding-left: 5px;
    width: 180px;
    color: #333333;
}

.selSmall {
    background-clip: padding-box;
    border: medium none;
    color: #333333;
    font-size: 10pt;
    height: 22px;
    outline-style: none;
    outline-width: 0;
    padding: 2px 2px 2px 4px;
    width: 180px;
}

.selSmallNumber {
    background-clip: padding-box;
    border: medium none;
    color: #333333;
    font-size: 10pt;
    height: 22px;
    outline-style: none;
    outline-width: 0;
    padding: 2px 2px 2px 4px;
    width: 70px;
}

.selMedium {
    background-clip: padding-box;
    border: medium none;
    color: #333333;
    font-size: 11pt;
    height: 30px;
    outline-style: none;
    outline-width: 0;
    padding: 2px 2px 2px 4px;
    width: 240px;
}

.spanMainHeaderLeft{
	font-size: 24pt;
    color:#999;
}

.spanMainHeaderRight{
	font-size: 10pt;
	color: #fff;
}

.spanCatalogMainHeaderRight{
	/* font-size: 10pt; */
	color: #999999;
}


#loginBox {
    margin-top: 60px;
    text-align: center;
}

#loginBox span.label{
    font-size: 14pt;
    color:#fff;
    
}

#mainBox span.label{
    font-size: 14pt;
    color:#fff;
    
}

.label-small{
    font-size: 11pt;
    color:#ffffff;
}

#mainBox span.label-small-header{
    font-size: 13pt;
    color:#999;
}

#mainBox span.labelValue{
    font-size: 14pt;
    color:#999;
    
}

#loginBox div.content{
    font-size: 10pt;
    color:#999;
    
}
.error {
    color:#E42E21;
    font-size:11pt;
    width:700px;
}
.error2 {
    color:#E42E21;
    font-size:11pt;
    width:700px;
    display:none;
}
.success {
    color:#3cdd03;
    font-size:11pt;
    width:700px;
    display:none;
}
.error3 {
    color:#E42E21;
    font-size:11pt;
    width:600px;
    display:none;
}
.success3 {
    color:#3cdd03;
    font-size:11pt;
    width:600px;
    display:none;
}
.error4 {
    color:#E42E21;
    font-size:11pt;
    width:600px;
    display:none;
}
.success4 {
    color:#3cdd03;
    font-size:11pt;
    width:600px;
    display:none;
}
.spanKeyValue {
	color:#fff;
	font-size:24pt;
	font-weight:bolder;
	
}
.spanKeyValueDesc {
	color:#999;
	font-size:8pt;
}

#gview_tblCatalog div{
    font-family: "Interstate",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
 }     

 
 #tblCatalog tr td  {
    font-family: "Interstate",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-color:#333;
    padding-top:5px;
    padding-bottom:5px;
 }
 
 #tblCatalog tr td a {
	text-decoration:underline;

 }
 
 
 #tblCatalog tr td a:hover {
	color:#E42E21;

 }

.ui-jqgrid tr.jqgrow td { 
  white-space: normal !important; 
  height:auto; 
  /* vertical-align:text-top;  */
  /* padding-top:2px;  */
} 


 #gview_tblWidgets div{
    font-family: "Interstate",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
 }     
#tblWidgets tr td  {
    font-family: "Interstate",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    
 }
 
 .color-selector {
    background: url("images/select2.png") repeat scroll 0 0 transparent;
    height: 36px;
    position: relative;
    width: 36px;
}

.color-selector div {
    background: url("images/select2.png") repeat scroll center center transparent;
    height: 30px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 30px;
}